$color-primary: #E7981C;
$color-secondary: #EEDBA6;
$color-background: #E5E5E5;
$color-font: #3A3A3A;
$color-boundaryBlack: #C4C4C4;
$color-boundaryWhite: #D8D8D8;
$color-hoverBackground: #B39F78;

$fontsize-hero: 52px;
$fontsize-Display2: 45px;
$fontsize-Display1: 34px;
$fontsize-Heading: 24px;
$fontsize-Title: 22px;
$fontsize-SubHeading: 18px;
$fontsize-normal: 14px;
$fontsize-caption: 12px