$color-primary: #27ACA9;
$color-secondary: #007D7A;
$color-secondary2: rgba(#A3BCE2, 0.5);
$color-background: #F5F5F5;
$color-font: #474747;
$color-font-white: #FEFEFE;
$color-boundaryBlack: #C4C4C4;
$color-boundaryWhite: #D8D8D8;
$color-hoverBackground: #B39F78;

$fontsize-hero: 52px;
$fontsize-Display2: 45px;
$fontsize-Display1: 34px;
$fontsize-Heading: 24px;
$fontsize-Title: 22px;
$fontsize-SubHeading: 18px;
$fontsize-normal: 14px;
$fontsize-caption: 12px;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;800;900&family=Noto+Sans+JP:wght@400;500;700&display=swap');
$font-primary: 'M PLUS 1p', sans-serif;
$font-normal: 'Noto Sans JP', sans-serif;

$background-image: url("../img/601.png");