$color-primary: #27ACA9;
$color-secondary: #007D7A;
$color-secondary2: rgba(#A3BCE2, 0.5);
$color-background: #F5F5F5;
$color-font: #474747;
$color-boundaryBlack: #C4C4C4;
$color-boundaryWhite: #D8D8D8;
$color-hoverBackground: #B39F78;

$fontsize-hero: 52px;
$fontsize-Display2: 45px;
$fontsize-Display1: 34px;
$fontsize-Heading: 24px;
$fontsize-Title: 22px;
$fontsize-SubHeading: 18px;
$fontsize-normal: 14px;
$fontsize-caption: 12px