@import "common";

.heading {
  background: $color-secondary;
  color: $color-font-white;
  font-size: $fontsize-Display1;
  text-align: center;

  width: 70%;
  max-width: 850px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;

  user-select: none;
}

.subHeading {
  font-size: $fontsize-Heading;
  color: $color-boundaryBlack;
  margin-left: 5%;

  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.content {
  display: block;
  position: relative;
  font-weight: bold;
  background: $color-secondary2;

  width: 70%;
  max-width: 850px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 50px;
  padding-bottom: 80px;

  user-select: none;
}

.item {
  font-weight: normal;
  font-size: $fontsize-Heading;
  color: $color-font;
  background: $color-background;
  border-radius: 10px/10px;
  border-color: $color-secondary;
  border-style: solid;
  border-width: 5px;
  width: 50%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.bar {
  position: absolute;
  width: 20px;
  height: 400px;
  background: #000;
  top: 50px;
  left: 50%;
  transform:translateX(-300%);
  z-index: -1;
}
