@import "common";

.heading {

  background: $color-primary;
  color: $color-font-white;
  font-size: $fontsize-Display2;
  text-align: center;

  width: 70%;
  max-width: 850px;

  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  position: relative;

}

.subHeading {
  font-size: $fontsize-Heading;
  color: $color-boundaryBlack;
  margin-left: 5%;

  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.content {
  display: block;
  position: relative;

  background: $color-secondary2;

  width: 70%;
  max-width: 850px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 30px;
  padding-bottom: 80px;
}

.item {
  font-size: $fontsize-Display1;
  color: $color-font;
  background: $color-background;
  border-radius: 10px/10px;
  border-color: $color-primary;
  border-style: solid;
  border-width: 5px;
  width: 50%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

}
