@import "common";

div.bigger{
  color: $color-primary;
  text-decoration: underline;
  font-size: $fontsize-hero;
}

div.normal{
  color: $color-primary;
  text-decoration: underline;
  font-size: $fontsize-Display2;
}
