@import "common";

div.bigger{
  font-size: $fontsize-hero;
  font-weight: bold;
}

div.normal{
  font-size: $fontsize-Display2;
  font-weight: bold;
}

.common {
  color: $color-primary;
  text-decoration: underline;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

