@import "./common";


.onTopNav {
  box-shadow: 0 2px 8px rgba(30, 30, 80, .3);
  line-height: 70px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navCommon {

  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  font-family: $font-primary;
  text-align: center;
  width: 100%;
  background: #fff;
  min-width: 870px;
}


.icon {
  width: 60px;
  height: auto;
  margin-top: 5px;
}

.title {
  font-weight: bold;
  font-size: $fontsize-Heading;
  color: $color-primary;
  height: 60px;
}

