@import "./common";

.MenuItem {
    text-decoration: none;
    color: $color-font;
    font-size: $fontsize-Heading;
    letter-spacing: .1em;
    text-transform: lowercase;
}

.MenuItem:hover{
    opacity: 0.7;
}
